<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ytwl.navigation" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>navigation</name>
    <js-module name="navigation" src="www/navigation.js">
        <clobbers target="navigation"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="navigation">
                <param name="android-package" value="com.ytwl.navigation.navigation"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/navigation.java" target-dir="src/com/ytwl/navigation/navigation"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="navigation">
                <param name="ios-package" value="navigation"/>
            </feature>
        </config-file>
        <source-file src="src/ios/navigation.m"/>
    </platform>
</plugin>